*.zip
*.log
.DS_Store
.Trashes
*.swp

# JetBrains; see: https://raw.githubusercontent.com/github/gitignore/main/Global/JetBrains.gitignore

.ijwb/.blaze
.ijwb/.idea
*.iml
*.ipr

# based on the name of the directory bazel is cloned into.
/bazel-*
# Ignore outputs generated during Bazel bootstrapping.
/output/
temp.png
