# Configure Bazel Java rules to use a Bazel-managed JDK.

build --java_runtime_version=remotejdk_15
build --tool_java_runtime_version=remotejdk_15

# --disk_cache for build artifacts

common --disk_cache=~/.cache/bazel-disk
