# Configure Bazel Java rules to use a Bazel-managed JDK.

build --java_runtime_version=remotejdk_15
build --tool_java_runtime_version=remotejdk_15

# --disk_cache for build artifacts

build --disk_cache=~/.cache/bazel-disk
fetch --disk_cache=~/.cache/bazel-disk
query --disk_cache=~/.cache/bazel-disk
sync --disk_cache=~/.cache/bazel-disk
test --disk_cache=~/.cache/bazel-disk
