# Configure Bazel Java rules to use a Bazel-managed JDK.
# (In the future, that may become the default.)

build --javabase=//:jdk
build --host_javabase=//:jdk

# A simpler example would not configure any extra caching; but
# to speed up the CI used for these examples, it’s worth this extra bit
# of configuration.

# --repository_cache for fetched externals
# --disk_cache for build artifacts

build --repository_cache=~/.cache/bazel-repo
fetch --repository_cache=~/.cache/bazel-repo
query --repository_cache=~/.cache/bazel-repo
build --disk_cache=~/.cache/bazel-disk

# Make TypeScript and Angular compilation fast, by keeping a few copies of the
# compiler running as daemons, and cache SourceFile ASTs to reduce parse time.

build --strategy=TypeScriptCompile=worker
build --strategy=AngularTemplateCompile=worker

test --test_output=errors
